---
layout: default
---

<div class="home">

  <div class="home-sub">
    <h1 id="select" class="home-h1">Who's Visiting Your Site?</h1>
    <p class="home-p1__one">Google Analytics is an excellent way to determine your site's traffic.
      Include a Google Code in your website's HTML and Google will collect a wealth of information
      about your site's visitors. Detialed information
      that's accessable in a vast array of flexible and customizable charts. <br />
      <br />
    <strong>Information that will help you know your customers.</strong></p>

    <div class="home-sub__dualPics">
      <img src="/assets/analytics.jpg" class="left-image">
      <img src="/assets/Analytics2.png" class="right-image">
    </div>

    <h2 class="home-h2">What Pages Are Your Customers Viewing?</h2>
    <p class="home-p1__one">Delve into your visitors traffic patterns, the time spent on pages,
      which pages they view, and the page from which they left your site.
      Better understand what brought customers to your site. Did they arrive from Social Media,
      a custom landing page, a link from another site, or a google search?</p>
    <div class="home-sub__2ndblock">
      <img src="/assets/Analytics3.png" class="left-image1">
      </div>

      <div class="home-sub__3rdblock">
        <div>
         <ul class="home-ul">
           <h2>You want to know:</h2>
           <li>Lenght of visit?</li>
           <li>Geo location?</li>
           <li>What device are they using?</li>
           <li>What types of interests do they have?</li>
           <li>New or returning visitor?</li>
           <li>Age? Gender?</li>
           <br />
          <li><strong>What will convert them to a customer?</strong></li>
         </ul>
         <img src="/assets/Analytics5.png" class="right-image1">
       </div>
      </div>

<div class="home-sub__4thblock">
<p class="home-p1__one">Google Anayltics is a powerful tool that can help you determine
strategies that will create customers. Use this knowledge to reduce shopping cart
  abandonment. Determine what will bring people into your door.  What will keep them coming back. <br />
  <br />

  Obtaining Google Analytics information is not difficult. Understaning the data is not terribly confusing. 
  Understanding how to manipulate Google Analytics charts is not hard, but learning them takes time. <br /> <br /> Or - you can have us do it for you.</p>


    <h2 class="home-h2-two">Let Us Show You Who's Visiting!</h2> Using your website's Google Analytics data we can show you who's
    visiting your site, their physical location when they stopped by, and what pages they visited while on your site.<br /> <br />We can tell you
    the type of device they use, what types of interests they have, what gender
    they are, and often their age bracket. It's easier than ever to get to know your online customers.
    Call us today! <span class="break">    <strong>410-831-9883</strong></span>
  </div>
</div>
</div>
